body{
    padding: 0 7vw;
    /*min-height: 100vh;*/
}
.navbar-brand{
    width: auto;
}

#home{
    /*margin-top: 10vh ;*/
    height: 90vh;
    /*max-width: 84vw;*/
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    /*max-width: 86vw;*/
}
.hinfo{
    margin: 7vw 0;
    order: 2;
    max-width: 60vw;
    padding: 3%;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, .20);
    backdrop-filter: blur(5px);
    position: relative;
    align-items: center;
}

.hpp{
    /*max-width: 100vw;*/
    display: flex;
    order: 0;
    justify-content: center;
    margin: 0 auto;
    max-width: 50vw;

}

.name {
    font-size: 9vw;
}

.pp {
    max-width: 50vw;
    max-height: 30vh;
    border-radius: 30px;
    box-shadow: 0 0 8px 8px white inset;
    transition: .5s all ease-in-out;
    /*justify-content: center;*/

}


/*projects*/

.ph1{
    display: inline-block;
}

/*project css starts*/

#projects {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(transparent 5%, white 49%, black 0%);
    margin: 0 -7vw;

}

.p-heading {
    display: flex;
    justify-content: space-between;
    margin-top: 2vh;
    padding: 0 7vw;
}

.btn {
    width: auto;
    color: #ffffff;
    font-size: 20px;
    background: #000000;
    border-radius: 0;
    text-decoration: none;
    /*height: auto;*/
    /*width: 10%;*/
    transition: 0.5s all ease-in-out;
}

.btn:hover {
    background-image: linear-gradient(
            45deg,
            var(--base) 25%,
            var(--complimentary2)
    );
    color: white;
    border: none;
    transform: scale(1.1);
}


/*cards in project*/

.p-card {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin: 12vh 7vw 0 7vw;

}

.pro-div {
    /*border: 3px solid black;*/
    /*min-height: 60vh;*/
    max-width: 100vw;
    background-color: white;
    transition: 0.5s all ease-in-out;
    transform: scale(1.2);
    margin-top: 5vh;
    /*margin: 0 7vw;*/
}

/*.pro-div:hover {*/
/*    transform: scale(1.2);*/
/*}*/

.pro-pic {
    max-width: 50vw;
    min-height: 50vw;
    /*margin: 0 7vw;*/


}

.p-text {
    margin: 7% 0 0 5%;
}

.sh{
    font-size: 3.5vw;
}
.ph{
    font-size: 6vw;
}
.pv{
    font-size: 4vw;
}

/*project page ends*/

/*contact page starts*/

.contact {
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    /*height: 100vh;*/
    background: linear-gradient(black, #081122 20%);
    margin: 0 -7vw;
    max-width: 100vw;

}

.c-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 7vw;
    font-size: 7vw;
    color: white;
    /*height: 100vh;*/
    max-width: 100vw;
    margin-bottom: 5vh;


}

.c-name {
    font-size: 1.7em;
}

.c-name2 {
    font-size: 2.3em;
}
.c-marv{
    font-size: 1.8em;

}

/*contact me right side*/

/*contact me left side end*/

.c-form {
    min-height: 100vh;
    max-width: 100vw;
    background:#f2a70c;
    /*background-color: black;*/
}

.container1 {
    max-width: 100vw;
    height: 100%;
    /*float: right;*/
    /*background-color: white;*/
    text-align: center;
    /*position: fixed;*/
    margin-top: 7vw;
    /*padding: 7vw;*/
    margin-bottom: 7vh;
}

.f-h2 {
    /*margin-top: 10vh;*/
    font-family: 'Quicksand', sans-serif;
    font-size: 3em;
    /*margin: 10% auto 7% auto;*/
    color: #081122;
}

form {
    border: 2px solid #081122;
    border-radius: 10px;
    margin: 11% 6% 16% 6%;
    max-width: 100vw;
    height: auto;
    padding-top: 4vh;


}

label, input, select, textarea {
    display: block;
    font-family: 'DM Mono', monospace;
    position: relative;
    text-align: left;
    margin-left: 1%;
    margin-top: -10%;
    font-size: 6vw;
    font-weight: bold;
    color: #081122;
    /*width: inherit;*/

}

input, textarea, select {
    margin-bottom: 1%;
    border: 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 5vw;
    max-width: 100vw;
    height: inherit;
    background-color: transparent;
    /*border: 10px solid black;*/
    /*width: 99%;*/
    padding: 2%;
}


::placeholder {
    color: transparent;
}

textarea {
    height: 25vh;

}

.f-btn {
    width: 30vw;
    height: auto;
    border: none;
    border-radius: 10px;
    background-color: #081122;
    color: #f2a70c;
    font-family: 'DM Mono', monospace;
    font-size: 6vw;
    font-weight: bold;
    margin-bottom: 3%;
    transition: 0.5s all ease-in-out;

}

.f-btn:hover {
    color: #081122;
    background-color: transparent;
    /*border:3px #081122 solid;*/
    cursor: pointer;
    transform: scale(1.2);
    font-size: 7vw;


}

/*form ends*/

/*footer starts*/

footer {
    display: flex;
    max-width: 100vw;
    flex-direction: column-reverse;
    justify-content: space-between;
    height: auto;
    background: #081122 ;

}

.f-1 {
    /*margin-left: 7vw;*/
    /*display: flex;*/
    /*align-self: center;*/
    background-color: #f2a70c;
}
li{
    display: inline-block;
    justify-content: center;
}
ul{
    width: 80vw;
}
/*ul{*/
/*    width: 100vw;*/
/*    margin: 0 7vw;*/
/*    justify-content: center;*/
/*}*/

.f-1-nav {
    display: flex;
    font-size: 1.25em;
    color: #081122;
    justify-content: center;
}

.nav-item-f {
    padding: 3%;

}


.nav-link-f:hover {
    background-color: #081122;
    padding: 4px;
    border-radius: 10px;
    transform: scale(1.1);
}

.nav-link-f {
    size: 2em;
    color: #081122;
    font-weight: bold;
    transition: 0.2s all ease-in-out;

}

.f-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100vw;


}

.f-2-1 {
    display: flex;
    max-width: 100vw;
    margin:0 7vw;
    flex-direction: column;
}

.f-2-2 {
    display: flex;
    max-width: 100vw;
    margin: 0 7vw;
    justify-content: space-between;
    /*align-content: center;*/
}

.f-2-name {
    font-size: 13vw;
    /*max-width: 100vw;*/


}

.f-2-p {
    display: inline-block;
    font-size: 5vw;
    color: white;
    /*max-width: 100vw;*/

}

/*.wrapper-1 {*/
/*    !*margin: 0 7vw 0 0;*!*/
/*    float: right;*/

/*    !*icons for footer*!*/
/*}*/

.wrapper-1 .icon {
    background-color: white;
}

.up{
    position: relative;
    /*background-color: rgba(255, 255, 255, 0.51);*/
    border-radius: 50%;
    /*padding: 6vw;*/
    float: right;
    margin: 1vw;
    width: 13vw;
    height: 13vw;
    font-size: 5vw;
    display: flex;

    box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
    cursor: pointer;
    transition: all 0.2s
}
a {
    justify-content: flex-end;
}


/*footer end*/
